.wrapper {
    min-width: 300px;
    max-width: 1000px;
    min-height: 100px;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Ensures all children stretch to the same height */
    justify-content: center;
}

.main {
    padding: 16px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex-grow: 1; /* Main section grows to take remaining space */
}

.side {
    flex: 0 0 auto; /* Prevent shrinking or growing */
    display: flex;
    align-items: stretch; /* Ensures the img inside stretches to fill */
}

.side img {
    height: 100%; /* Image fills the height of the parent container */
    width: 100%; /* Image stretches to fill the width of the parent container */
    object-fit: fill; /* Allows the image to stretch both vertically and horizontally */
}
