.wrapper {
    min-width: 300px;
    max-width: 1000px;
    min-height: 100px;
    max-height: 500px;
    display: none;
    flex-direction: row;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    align-items: stretch; /* Ensures all children stretch to the same height */
    justify-content: center;
}

.main {
    padding: 16px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex-grow: 1; /* Main section grows to take remaining space */
}

.wrapper.show {
    display: block;
    opacity: 1;
}

